@font-face {
  font-family: 'Cooper Hewitt Book';
  src: url('./static/fonts/CooperHewitt-Book.otf');
}

@font-face {
  font-family: 'Cooper Hewitt Semibold';
  src: url('./static/fonts/Cooper_Hewitt/CooperHewitt-Semibold.otf');
}


@font-face {
  font-family: 'Vollkorn-Regular';
  src: url('./static/fonts/Vollkorn-Regular.ttf');
}
