@public        :    rgb(252,180,20);
@healthcare    :    rgb(66,141,181);
@retail        :    rgb(161,63,52);
@energy        :    rgb(204,189,0);
@agriculture   :    rgb(242,110,34);
@transport     :    rgb(97,191,203);
@environment   :    rgb(75, 183, 95);
@cultural      :    rgb(172,145,195);

/*
* SECTOR COLOURS
*/
.public_colour {
 background-color: @public !important;
}
.energy_colour {
 background-color: @energy !important;
}
.cultural_colour {
 background-color: @cultural !important;
}
.environment_colour {
 background-color: @environment !important;
}
.retail_colour {
 background-color: @retail !important;
}
.transport_colour {
 background-color: @transport !important;
}
.healthcare_colour {
 background-color: @healthcare !important;
}
.agriculture_colour {
 background-color: @agriculture !important;
}
