<!DOCTYPE html>
<html>
<head>
  <title>OrganiCity API</title>
  <link rel="stylesheet" href="main.css">
  <link rel="stylesheet" href="oc.css">
</head>
<body>
  {{>base/header}}
  <div class="container">
    {{>base/body}}
  </div>
  {{>base/footer}}
</body>
</html>
