
<div class="oc-footers">
  <div class="row oc-footer-large">
    <h1 class="oc-home-view-title">Follow us
    </h1>
    <div class="oc-footer-large-social-links">
      <a href="https://twitter.com/organicity_eu">
        <span class="fa fa-twitter">
        </span>
      </a>
      <a href="https://www.facebook.com/OrganiCities">
        <span class="fa fa-facebook-official">
        </span>
      </a>
    </div>
    <img class="oc-footer-large-eu-logo" src="static/img/logo_eu.png">
    </div>
    <div class="row oc-footer-small">
      <div class="col-md-2">&copy; OrganiCity 2015
      </div>
      <div class="col-md-1">
      </div>
      <div class="col-md-4">
        <a class="oc-link" href="http://organicity.eu/">VISIT ORGANICITY.EU TO FIND OUT MORE
        </a>
      </div>
      <div class="col-md-5">
        <div>
          <h4>Contact Us
          </h4>
            <a href="mailto:info@organicity.eu">info@organicity.eu
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
