
<!-- <footer> -->
<!--   <div class="section section--footer"> -->
<!--     <div class="pure-g"> -->
<!--       <div class="pure-u-1-4"></div> -->
<!--       <div class="pure-u-1-1 pure-u-md-1-1 pure-u-lg-1-2"> -->
<!--         <h3>Follow us</h3> -->
<!--         <div class="pure-g socialMedia"> -->
<!--           <div class="pure-u-1-3 pure-u-md-1-6 socialMediaIcon"> -->
<!--             <a href="http://www.twitter.com/organicity_eu"><i class="icon-twitter"></i></a> -->
<!--           </div> -->
<!--         </div> -->
<!--         <hr> -->
<!--           <div class="logos"> -->
<!--             <img class="" src="http://organicity.eu/wp-content/themes/organicity/images/logo_eu.png" alt="European Commission"> -->
<!--             </div> -->
<!--             <p class="eu-disclosure" style="text-align: center;font-size: 1.2rem;line-height: 150%;font-family: CooperHewitt-Book,Verdana,Arial,sans-serif;width: 80%;margin: auto;">This project has received funding from the European Union's Horizon 2020 research and innovation program under the grant agreement No. 645198 </p> -->

<!--           </div> -->
<!--           <div class="pure-u-1-4"></div> -->
<!--         </div> -->
<!--       </div> -->
<!--       <div class="section section--copyright"> -->
<!--         <div class="pure-g"> -->
<!--           <div class="pure-u-1-1">© Organicity 2015</div> -->
<!--         </div> -->
<!--       </div> -->
<!--     </footer> -->



<div class="oc-footers">
  <div class="row oc-footer-large">
    <h1 class="oc-home-view-title">Follow us
    </h1>
    <div class="oc-footer-large-social-links">
      <a href="https://twitter.com/organicity_eu">
        <span class="fa fa-twitter">
        </span>
      </a>
      <a href="https://www.facebook.com/OrganiCities">
        <span class="fa fa-facebook-official">
        </span>
      </a>
    </div>
    <img class="oc-footer-large-eu-logo" src="/organicity-scenario-tool/static/img/logo_eu.png">
    </div>
    <div class="row oc-footer-small">
      <div class="col-md-2">© OrganiCity 2015
      </div>
      <div class="col-md-1">
      </div>
      <div class="col-md-4">
        <a class="oc-link" href="http://organicity.eu/">VISIT ORGANICITY.EU TO FIND OUT MORE
        </a>
      </div>
      <div class="col-md-5">
        <div>
          <h4>Contact Us
          </h4>
          <a href="mailto:scenarios@organicity.eu">scenarios@organicity.eu
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
