<div id="top" class="container oc-page-wrapper">
<div class="row">
  <nav role="navigation" class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand active" href="/">
          <img src="static/img/oc_logo.png">
        </a>
        <button class="navbar-toggle" type="button">
          <span class="sr-only">Toggle navigation
          </span>
          <span class="icon-bar">
          </span>
          <span class="icon-bar">
          </span>
          <span class="icon-bar">
          </span>
        </button>
      </div>
      <div class="navbar-collapse collapse" aria-expanded="false">
        <span class="oc-left-links-wrapper">
        </span>
        <ul class="nav navbar-nav navbar-right">
          <li role="presentation">
            <a href="/" aria-selected="false">Overview
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
